.gradient {
    background: linear-gradient(147.17deg, #D251FF 0%, #FF7A00 100%);
    color: #FFFFFF;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    margin: 5px auto;
    display: block;
  }
  
  .pp, .center {
    text-align: center;
    color: #000000;
  }
  
  .color-gradient {
    text-align: center;
    background-image: linear-gradient(147.17deg, #D251FF 0%, #FF7A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .phone-img {
    max-width: 100%;
    height: auto;
  }
  
  .borders {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px 0;
  }
  
  .money, .functions {
    font-weight: bold;
    background-image: linear-gradient(147.17deg, #D251FF 0%, #FF7A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .money {
    font-size: 60px;
  }
  
  .borders.rounded {
    border-radius: .25rem;
  }
  